<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
     <add name="EHealthCareLocal" providerName="MySql.Data.MySqlClient" connectionString="datasource=127.0.0.1;port=3306;username=root;password=;database=csrp_project"/>
     <add name="EHealthCareLive" providerName="MySql.Data.MySqlClient" connectionString="datasource=69.13.47.37;port=3306;username=dangulic_csAdmin;password=TOhw]pEf)P5V;database=dangulic_csrp_project"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>